.details {
  @include page-grid;
  gap: 40px;
  padding-block: 32px 60px;


  &-h2title {
    grid-column: 1/-1;
    text-align: center;
    @include h2-style;
  }

  &-content {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;

    &:nth-of-type(3) {
      .details-content-background>img {
        @include on-tablet {
          grid-column: span 2;

          &:nth-child(2) {
            grid-column: span 4;
          }
        }
        @include on-desktop{
          grid-column:span 4;
          &:nth-child(2){
            grid-column:span 8;
          }
        }
      }
    }


    &-background {
      grid-column: 1/-1;

      display: grid;
      grid-template-columns: subgrid;

      &>img {
        grid-column: span 1;
        width: 100%;
        height: 100%; // Deixe o auto para manter a proporção ou use aspect-ratio



        @include on-tablet {
          grid-column: span 4;

          &:nth-child(2) {
            grid-column: span 2;
          }
        }

        @include on-desktop {
          grid-column: span 8;

          &:nth-child(2) {
            grid-column: span 4;
          }
        }
      }
    }

    &-h3title {
      grid-column: 1/-1;
      @include h3-style;
      padding-block: 16px 8px;
    }

    &-desc {
      @include text-style;
      grid-column: 1/-1;
      padding-bottom: 8px;
    }
  }

  &-button {
    grid-column: 1/-1;
    @include button-form;
    @include button-style;
    border: 1px solid black;
  }
}