@import 'utils/mixins';
@import 'utils/base';

@import 'blocks/move';
@import 'blocks/header';
@import 'blocks/compare';
@import 'blocks/contact';
@import 'blocks/details';
@import 'blocks/footer';
@import 'blocks/menupage';














